header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}
main {
    background-color: white;
    padding: 16px;
}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 70%;
}
a.photo {
    transition: 0.5s;
}
a.photo:hover {
    padding: 10px;
}
